<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>首页</title>
<script type="text/javascript" src="../easyui/jquery.min.js"></script>
<script type="text/javascript" src="../easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../easyui/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<link rel="stylesheet" type="text/css" href="../easyui/themes/default/easyui.css"/>
<link rel="stylesheet" type="text/css" href="../easyui/themes/icon.css"/>
<script type="text/javascript">
var pc; 
//不要放在$(function(){});中
$.parser.onComplete = function () {
    if (pc) clearTimeout(pc);
    pc = setTimeout(closes, 1000);
} 

function closes() {
	$('#loading').fadeOut('normal', function () {
        $(this).remove();
    });
}
</script>
</head>
<body>
<div id="box">
<div id="loading" style="position:absolute;z-index:1000;top:0px;left:0px;width:100%;height:100%;background:#FFFFFF;text-align:center;padding-top:6%;">
	 <img src="../images/loading.jpg" width="30%">
</div> 
	<div id="top" data-options="region:'north',split:true,collapsible:false,border:false" style="height:0;overflow:hidden;border-bottom:1px #95b8e7 solid;background:url(../images/bg_header.jpg) bottom repeat-x;">
	<div style="height:40px;">
		<p style="float:left;line-height:40px;margin:0;padding-left:10px;font-weight:bold;color:#fff;">超市进销存信息管理系统</p>
		<div style="float:right;line-height:40px;margin-right:20px;color:#fff;">
			<!--<a href="#" style="color:#000;background:green;">登录</a><span style="padding:0 5px;background:green;margin:0">|</span><a href="#" style="color:#000;background:green;">关于我们</a>-->
			欢迎<span style="padding-left:8px;font-size:20px;font-weight:bold;">xxx</span>
		</div>
		</div>
		</div>
	<div data-options="region:'west',title:'导航菜单',split:true," style="width:170px;">
		<div id="box_left">
			<div title="财务管理" data-options="iconCls:'icon-org'">
			<ul>
				<li data-options="attributes:{'url':'orderpayym','iframe':'1'},iconCls:'icon-money-yen'">采购付款</li>
				<li data-options="attributes:{'url':'bstatsym','iframe':'1'},iconCls:'icon-chart-curve'">经营统计</li>
			</ul>
		</div>
	
	</div>
	</div>
	<!--<div data-options="region:'east',title:'右东',split:true," style="width:100px;"></div>-->
	<div data-options="region:'center',split:true," style="overflow:hidden;">
		<div id="tabs">
			<div data-options="closable:true" title="首页">1</div>
			<!--<div title="tab2">2</div>
			<div title="tab3">3</div>-->
		</div>
	</div>
</div>
</body>
</html>