<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>销售退货</title>
<link rel="stylesheet" type="text/css" href="/asserts/easyui/themes/default/easyui.css"/>
<link rel="stylesheet" type="text/css" href="/asserts/easyui/themes/icon.css"/>
<link rel="stylesheet" type="text/css" href="/asserts/css/main.css">
</head>
<body>
<style>
	.textbox{
		margin-right:10px;border:1px solid #95B8E7;height:26px;box-sizing:content-box;padding-left:5px;border-radius:4px;transition: background 0.3s ease-in-out;
	}
	.textbox:focus{
		outline:none;box-shadow:0 0 3px 0 #95B8E7;
	}
.span{margin-right:10px;}
.input{width:153px;}
</style>
<script type="text/javascript" src="/asserts/js/sell_reback.js"></script>
<div id="rebacktoolbar_top" style="margin:3px;border:1px solid #95B8E7;">
<div id="reback_toolbar" style="height:80px;background:#f4f4f4;padding-left:8px;margin:0;">
<div style="height:20px;margin:4px 0 0 0;line-height:20px;">
<a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-coins-add'" onclick="reback_obj.openAdd()">添加退货单</a>
<a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-eye'" onclick="reback_obj.openView()">查看退货单</a>
</div>
<div style="height:56px;margin:0;line-height:56px;">
<label>金额：</label>
 <input id="search-minMoney" type="text" class="textbox input" data-options="min:0,precision:2">
<!-- data-options="icons:[{iconCls:'icon-remove',handler:function(e){$(e.data.target).textbox('setValue','')}}]" -->
<span class="span">至</span>
<input id="search-maxMoney" type="text" class="textbox input" data-options="min:0,precision:2">
<a href="javascript:void(0)" class="easyui-linkbutton" style="heigth:15px;border-radius:20px;width:80px;height:26px;border:1px solid #95B8E7;margin-left:-6px;" data-options="iconCls:'icon-search'" onclick="reback_obj.search()">搜索</a>
</div>
</div>
<table id="reback_list">
</table>
	<div id="reback_addDialog" hidden="true" class="easyui-dialog" data-options="iconCls:'icon-coins-add',closed:true" style="width:640px;padding:5px;">
		<table id="select-rebackgoods-datagrid" class="easyui-datagrid" style="width:616px;height:356px" data-options="toolbar:'#select-rebackgoods-btn'">
			<thead>
		<tr>
			<th data-options="field:'id'" width="151px">商品ID</th>
			<th data-options="field:'goodsName'" width="151px">商品名称</th>
			<th data-options="field:'price'" width="151px">商品价格</th>
			<th data-options="field:'num'" width="151px" editor="{type:'numberbox',options:{min:1,precision:0}}">商品数量</th>
		</tr>
	</thead>
		</table>
		<div id="select-rebackgoods-btn">
			<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true," onclick="reback_obj.selectProduct()">添加商品</a>
			<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true," onclick="reback_obj.removeProduct()">删除商品</a>
			<input type="text" class="textbox input" name="orderid">
			<a href="javascript:void(0)" class="easyui-linkbutton" style="heigth:15px;border-radius:20px;width:80px;height:26px;border:1px solid #95B8E7;margin-left:-6px;" data-options="iconCls:'icon-search'" onclick="reback_obj.ordersearch()">搜索</a>
		</div>
	</div>
	
	<div id="show-rebackgoods-dialog" class="easyui-dialog" data-options="closed:true,iconCls:'icon-coins-add'" style="width:740px; padding:5px;">
		<table id="show-rebackgoods-datagrid" class="easyui-datagrid" style="width:716px;height:450px"></table>
	</div>
	
	
	<div id="rebackadd-2-dialog" class="easyui-dialog" data-options="closed:true" style="width:340px;height:170px;">
	<form id="rebackadd-form" method="post">
        <table id="rebacktable">
            <tr>
                <td width="70" align="right">支付方式:</td>
                <td>
                	<select name="payType" id="add-payType" class="input easyui-combobox" data-options="panelHeight:'auto'">
		            	<option value="0" selected>现金</option>
		            	<option value="1">银行转账</option>
		            	<option value="2">支付宝</option>
		            	<option value="3">微信</option>
		            </select>
                </td>
            </tr>
            <tr>
                <td width="80" align="right">状态:</td>
                <td>
                	<select name="status" id="add-status" class="input easyui-combobox" data-options="panelHeight:'auto'">
		            	<option value="0">未支付</option>
		            	<option value="1" selected>已支付</option>
		            </select>
                </td>
            </tr>
        </table>
    </form>
</div>
	
	<!-- <div id="od-2-addDialog"></div> -->
	<div id="reback_viewDialog" class="easyui-dialog" data-options="closed:true,iconCls:'icon-package-add'" style="width:550px; padding:5px;">
		<table id="reback_view-detailDatagrid" class="easyui-datagrid" style="width:526px;height:356px">
			<thead>
		<tr>
			<th  data-options="field:'id'" width="103px">ID</th>
			<th  data-options="field:'goodsName'" width="103px">商品名称</th>
			<th  data-options="field:'price'" width="103px">商品价格</th>
			<th  data-options="field:'num'" width="103px">商品数量</th>
			<th  data-options="field:'amount'" width="103px">小计</th>
		</tr>
	</thead>
		</table>
	</div>
	
</div>
</body>
</html>